
*{
    margin: 0;
    padding: 0;
}

body{
    width: 90%;
    margin: auto;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    

    background: -webkit-linear-gradient(180deg, rgb(207, 232, 255), rgb(241, 235, 222));
    background: linear-gradient(180deg, rgb(207, 232, 255), rgb(241, 235, 222));
    background-image: url(https://images.unsplash.com/photo-1482977036925-e8fcaa643657?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;

}

figure{
    background-color: rgba(255, 217, 0, 0.767);
}


h1{
    font-size: 36px;
    margin-bottom: 20px;
}




p{
    font-family: 'PT Serif', serif;
    letter-spacing: 2px;
    color: rgb(39, 37, 37);
    

}

.bad{
    color: red;
}

.good{
    color: green;
   
}

ul{
    list-style: none;
}

li{
    margin-top: 10px;
    margin-bottom: 10px;
}




q{
    font-style: italic;
    max-width: 45%;
    margin: 20%;
    font-size: 160%;
    background-color: rgba(128, 128, 128, 0.247);
    border-left: 3px solid firebrick;
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
   
}



/* LES LINK */

    a:link{
    color: rgb(7, 197, 255);
    text-decoration: none;
    }

    a:visited{
    display: none;
    color: blueviolet;
    text-decoration: none;

    }

    a:hover{
    color: rgb(42, 255, 255);
    font-weight: bold;
    text-decoration: underline;
    }   

/* LES LINK */




.farmer{
    border-left: 3px solid rgb(250, 239, 91);


}

.villagers{
    border-left: 3px solid rgb(163, 255, 77);

}


/* LES PETITES IMAGES */

#pouce{
    background-image: url("bien.png");
	padding-right: 2px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 19px;

}
#evil{
    background-image: url("mal.png");
	padding-right: 2px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 19px;

}
#cat{
    background-image: url("chat.png");
	padding-right: 2px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 19px;

}


/* LES PETITES IMAGES */








/* LE TABLEAU */



    caption{
        caption-side: bottom;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    table{
        background-color: rgba(243, 191, 155, 0.411);
  
        border: 1px solid black ;
    }


    #resume{
    border: 1px solid black;
    padding: 10px;
    }

    .grey{
    background-color: grey;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;

    }

    .white{
    background-color: white;
    border: 1px solid black;
    margin: 5px ;
    padding: 10px;

    }

/* LE TABLEAU */



.premierediv{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.deuxiemediv{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;


}
.espace{
    margin-left: 20px;
}


.troisiemediv{

    
    display: flex;
    justify-content: space-between;


}

.photofarmer{
    margin-top: 10vh;
    align-items: center;
}

#notification{

    position: fixed;
    bottom: 0px;
    right: 0px;
    border: 3px solid blue;
    background-color: coral;
    padding: 20px;
}

#notification:hover{
    background-color: rgb(1, 75, 1);
    border: 3px solid white;
    transform: scaleX(110%);
    padding-top: 30px;
}













#first{

    font-weight: bold;
}

#conclusion{
    margin-top: 30px;
    margin-bottom: 50px;
}

h2{
    margin-bottom: 30px;
    font-size: 30px;
}

footer{

   text-align: center;
}

.align{
    position: relative;
    top: 50%;
    transform: translateY(30%);
    margin-right: 2vw;
    
}

.alexandre{
    margin-left: 20%;
}


.centrer{
    display: flex;
    justify-content: center;
}

/* RESPONSIVE */

@media all and (max-width: 1000px){

    *{
        margin: 0px;
        padding: 0px;
    }

    img{
        width: 100%;
        height: auto;
    }
    
    body{
        
        display: block;
        
        width: auto;
        height: auto;
        padding: 0px 10px 0px 10px;
        background: -webkit-linear-gradient(180deg, rgb(207, 232, 255), rgb(241, 235, 222));
        background: linear-gradient(180deg, rgb(207, 232, 255), rgb(241, 235, 222));
       
        
    
   
    }

    .premierediv{
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
       
       
        
    }

    .who{
        margin-bottom: 20vh;
    }




    .deuxiemediv{
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;

    }

    .troisiemediv{
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
    }

  

    
    #notification{
        display: none;
    }

 




    
}